<!doctype html>{% set locale = bag('alternatives', this.alt) %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ this.alt }}" {% if locale.direction == 'text-right' %}dir="rtl"{% endif %}>
{% include 'meta.html' %}

<title>{{ _("Tor Project") }} | {% block title %}{{ this.title }}{% endblock %}</title>
<body class="no-gutters">
  <header>
    {% include 'navbar.html' %}
  </header>
  <div class="page">
    <div class="container-fluid bg-{{ this.color }}">
            <div class="row flex-xl-nowrap {{ locale.direction }}">
        {% include 'hero.html' %}
      </div>
    </div>
    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <main role="main" class="mx-auto col-12 {{ locale.direction }}">
          {% include this.html %}
        </main>
      </div>
    </div>
    <div class="container">
      <div class="row p-5 m-3 border {{ locale.direction }}">
        {{ md(_('The Tor Project is committed to fostering an inclusive environment and community. Tor is a place where people should feel safe to engage, share their point of view, and participate.')) }} 
	{{ md(_('Read our [Code of Conduct](https://community.torproject.org/policies/code_of_conduct), [Social Contract](https://community.torproject.org/policies/social_contract), [Statement of Values](https://community.torproject.org/policies/statement_of_values), and learn about the [Tor Community Council](https://community.torproject.org/policies/community_council).')) }}
      </div>
    </div>
  <footer>
    {% include 'footer.html' %}
  </footer>
</body>
